:root {
  --main-color: #d6b0b1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#siteContent {
  flex: 1;
}

h5 {
  color: #8b5e83;
  font-family:'Oswald', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

p, span {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

/*****NAVBAR*****/

.navbar {
  height: 62px;
  background-color: #343434;
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
  text-transform: uppercase;
  font-family:'Oswald', sans-serif;
  font-size: 1.25rem;
}

@media (max-width: 576px) {
  .navbar-collapse {
    position: fixed;
    top: 62px;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: #343434;
  }

  .navbar-nav {
    background-color: #343434;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 100vh;
  }

  #cartButton {
    text-transform: uppercase;
    font-family:'Oswald', sans-serif;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, .55);
  }

  #cartButton:hover {
    color: rgb(255, 255, 255);
  }
}


/*****HOME******/

#header {
  background-image: url("images/pattern.png");
  background-color: #d6b0b1;
  color: #fff;
}

h1 {
  font-family: 'Ruthie', cursive;
  font-size: 9rem;
  padding: 25px 0;
  margin-top: 62px;
  margin-bottom: 0;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: auto;
}

.headerImage {
  position: relative;
  bottom: 50px;
  border: 1px solid rgba(255, 183, 0);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  transition: all .2s ease-in-out;
}

.headerImage:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px 5px rgba(255, 183, 0, 0.6);
}

/*****PRODUCTS*****/

#products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 20rem;
  margin: 1.5rem;
}

.cardImg {
  width: 100%;
  text-align: center;
}

.cardImg img {
  height: 160px;
  width: auto;
}

.card-body {
  text-align: center;
}

.card a {
  padding: 0;
}

.card a:focus {
  box-shadow: none;
}

/*****PRODUCT DETAILS******/

.productImg {
  height: 380px;
  text-align: center;
}

.productImg img {
  width: auto;
  height: 380px;

}

/*****CART CONTAINER****/

.cartContainer {
  background-color: rgba(255, 255, 255, .6);
  position: fixed;
  top: 62px;
  right: 0;
  height: 100vh;
  width: 30%;
  min-width: 400px;
  padding: .5rem;
  z-index: 1000;
  overflow: scroll;
}

.cartContainer::-webkit-scrollbar {
  display: none;
}

.cartContainer .card {
  width: 100%;
  margin: 0;
}

.cartButton {
  width: 80%;
  padding-bottom: 1rem;
  margin: auto;
}

/******PAYMENT*****/

#payment {

}

#payment .card {
  flex-wrap: wrap;
  margin: .5rem;
  height: 5rem;
  width: 15rem;
}

#payment .cardImg {
  height: 5rem;
  width: auto;
}

#payment .cardImg img {
  height: 5rem;
  width: auto;
}

#payment .card-body {
  padding: .5rem;
}

#payment .card-title {
  font-size: 1rem;
  margin: 0;
}

#payment .card-body .card-text {
  display: none;
}

#payment .card-footer {
  height: 2.5rem;
}


/******LOGIN*****/

.loginForm {
  width: 400px;
  margin: auto;
  text-align: center;
}

/*****PROFILE*****/

#profileScreen {
  width: 100%;
  height: 100%;
}


/******ADMIN PORTAL*****/
#adminPortal {
  height: 500px;
}

/*****ADD PRODUCT*****/

.imagePort {
  background-color: gray;
  height: 240px;
  text-align: center;
}

.imagePort img {
  width: auto;
  height: 240px;
}

textarea {
  height: 130px;
  resize: none;
}

/*****FOOTER*****/
footer {
  color: #fff;
}

#footerNote {
  color: #757575;
}
