.starRating {
  display: flex;
  width: 140px;
  padding: 0;
}

.starBox {
  position: relative;
  width: 28px;
  height: 36px;
}

.starBox .starInputHalf {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 36px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}

.starBox .starInputFull {
  position: absolute;
  top: 0;
  left: 24px;
  width: 24px;
  height: 36px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}


.starBox .bi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 0 !important;
  color: var(--font-color);
}
